<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport Match - Busca por pessoas</title> <!-- Acho q podemos colocar a busca como geral, ai a pessoa escolhe se será por pessoa, modalidade ou local-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/">
<!-- Background image -->
    <style>

    header,
    section,
    aside {
      margin: 0 1.5% 24px 1.5%;
    }
   
    section{
        float: right;
        margin: 0 1.5%;
        width: 63%;
    }
    aside{
        float: left;
        height: 100vh;
        margin: 3% 1.5%;
        width: 30%;
    }
    footer {
        clear: both;
        margin-bottom: 0;
    }

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      @media (max-width: 600px){
        aside {
          display: none;
        }
        section{
            float: none;
            margin: 0 1.5%;
            width: 100%;
        }
      }
    </style>
   <link href="/stylesheets/main.css" rel="stylesheet">

</head>
<body>
    <header>
      <%- include ("../partials/header.ejs") %>
    </header>
    <div class="row mt-5">
      <%- include ("../partials/dropdownBusca.ejs") %>
    </div>
    <aside>
          <%- include ("../partials/filtros.ejs") %>
    </aside>
    <section>
        <%- include ("../partials/conteudoPrincipalBuscaPessoa.ejs") %>
    </section> 
    <section class="container-fluid" style="float: left;">
        <%- include ("../partials/vejaTambemPessoas.ejs") %>  
    </section>
    <footer><!--Rodape-->
      <%- include ("../partials/footer.ejs") %>
    </footer>
</body>
</html>