<!DOCTYPE html>
<html lang="pt">

<head>
    <%- include ("../partials/head.ejs") %>
</head>

<body>
    <header>
        <%- include ("../partials/header.ejs") %>
    </header>
    <div class="container-fluid" style="background-color:snow;">
        <%- include ("../partials/dropdownBusca.ejs") %>
    </div>
    <aside>
        <%- include ("../partials/filtros.ejs") %>
    </aside>
    <section>
        <%- include ("../partials/conteudoPrincipalBuscaPessoa.ejs") %>
    </section>
    <section class="container-fluid" style="float: left;">
        <%- include ("../partials/vejaTambemPessoas.ejs") %>
    </section>
    <footer>
        <!--Rodape-->
        <%- include ("../partials/footer.ejs") %>
    </footer>
</body>

</html>