<!DOCTYPE html>
<html lang="pt">

<head>
    <%- include ("../partials/head.ejs") %>
</head>

<body>
    <header>
        <%- include ("../partials/header.ejs") %>
    </header>
    <main>
        <div class="container-fluid" style="background-color:snow;">
            <!-- Example single danger button -->
            <!--barra de pesquisa-->
            <div class="row mt-5">
                <div class="col-2">
                    <!-- Estados -->
                    <select id="estados" class="form-select  btn-success" aria-label="Default select example">
                <option selected>Estado</option>
                
              </select>
                </div>
                <div class="col-2">
                    <!-- Cidades -->
                    <select id="cidades" class="form-select  btn-success" aria-label="Default select example">
                <option selected>Cidade</option>
                
              </select>
                </div>
                <div class="col-2">
                    <!-- Esporte -->
                    <select class="form-select  btn-success" aria-label="Default select example">
                <option selected>Esporte</option>
                <option value="1">Esporte1</option>
                <option value="2">Esporte2</option>
                <option value="3">Esporte3</option>
              </select>
                </div>
                <div class="col-3">
                    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                </div>
                <div class="col-3">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
                </div>
            </div>
            <!--dropdwns-->
        </div>
        <aside>
            <%var escolhas = ['Mulher', 'Homem', 'Esporte amador', 'Pago', 'Gratuito', 'Esporadico']%>
                <% for(var i=0; i<escolhas.length; i++){ %>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                <label>
                    <%= escolhas[i] %>
                </label>
                    </div>
                    <% } %>
        </aside>
        <section>
            <div class="container-fluid">

                i
                <!--começo-->
                <% for(var i=0; <Storage.getItem("equipes").length; i++){ %>
                    <div id="<%= 'equipe'+i %>" class="row">
                        <!--principal1-->
                        <div class="col">
                            <!--principal2-->
                            <% let equipe = Storage.getItem("equipes")[i]; %>
                                <div class="row">
                                    <div class="col-6 cardResponsivo">
                                        <div class="card">
                                            <img src="/stylesheets/img/equipefoto.png" class="card-img-top" alt="..." />
                                        </div>
                                        <div class="card">
                                            <img src="/stylesheets/img/equipeb.png" class="card-img-top" alt="..." />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= equipe.equipes %>
                                            </h5>

                                            <a href="#" class="btn btn-primary">Entrar em contato</a>
                                        </div>
                                    </div>
                                </div>
                                <!--principalfinal2-->
                                <% } %>
                                    <!--fim-->
                                    <div class="mx-auto btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group me-2" role="group" aria-label="First group">
                                            <button type="button" class="btn btn-primary">1</button>
                                            <button type="button" class="btn btn-primary">2</button>
                                            <button type="button" class="btn btn-primary">3</button>
                                            <button type="button" class="btn btn-primary">...</button>
                                            <button type="button" class="btn btn-primary">20</button>
                                            <button type="button" class="btn btn-primary">21</button>
                                            <button type="button" class="btn btn-primary">22</button>
                                        </div>

                                    </div>
                        </div>
        </section>
        <section class="container-fluid" style="float: left;">
            <div class="row gx-5">
                <div class="col">
                    <p>Sugestões</p>
                </div>
            </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                        <img src="/stylesheets/img/esportes1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Venha praticar esse esporte com a gente!</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <a href="#" class="btn btn-primary">Saber mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img src="/stylesheets/img/competicoes02.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Venha participar dessa competição!</h5>
                            <p class="card-text">Veja as competições disponíveis para participar. Não fique de fora!!</p>
                            <a href="#" class="btn btn-primary">Saber mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img src="/stylesheets/img/capa1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Em busca de uma equipe para fazer parte?</h5>
                            <p class="card-text">Veja as equipes cadastradas no nosso sistemas.</p>
                            <a href="#" class="btn btn-primary">Saber mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img src="/stylesheets/img/resultados1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Saiba mais sobre os seus resultados</h5>
                            <p class="card-text">Acompanhe os resultados das suas praticas esportivas</p>
                            <a href="#" class="btn btn-primary">Saber mais</a>
                        </div>
                    </div>
                </div>
        </section>
    </main>
    <footer>
        <!--Rodape-->
        <%- include ("../partials/footer.ejs") %>
    </footer>
</body>

</html>